<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>商品管理</title>
  <link rel="stylesheet" href="../boss/layui/layui/css/layui.css">
  <link rel="stylesheet" href="../boss/layui/css/global.css">
  <link rel="stylesheet" href="../boss/layui/icheck/minimal/red.css">
    <style>
        .layui-body{overflow-y: scroll;}
    </style>
</head>
<body class="layui-layout-body">
<!-- 左侧选中标识 -->
<input hidden id="manage" value="goodsManage">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:include="boss\index\top::boss-top">
        <!-- 头部 -->
    </div>

    <div class="layui-side layui-bg-black" th:include="boss\index\left::boss-left">
        <!-- 左边导航栏 -->
    </div>
  
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field">
                <legend>商品管理 - 商品列表</legend>
                <div class="layui-field-box">
                  <form class="layui-form" action="">
                    <div class="layui-form-item" style="text-align:center;">
                        <div class="layui-inline">
                            <label class="layui-form-label">商品品牌：</label>
                            <div class="layui-input-inline">
                                <select name="catId" lay-verify="" id="catId">
                                    <option value="">品牌</option>
                                    <option th:each="cat,iterStat: ${categoryList}" th:value="${cat.categoryId}" th:text="${cat.categoryName}"></option>
                                </select>
                            </div>
                        </div>
                      <div class="layui-inline">
                        <label class="layui-form-label">商品名称：</label>
                        <div class="layui-input-inline">
                          <input autocomplete="off" class="layui-input" placeholder="商品名称" type="text" name="goodsName" id="goodsName" value="">
                        </div>
                      </div>
                      <div class="layui-inline" style="text-align:left;">
                        <div class="layui-input-inline">
                          <div class="layui-btn" id="selectGoodsBtn"><i class="layui-icon">&#xe615;</i>查询</div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <hr>
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-sm goodsAddPage">
                            <i class="layui-icon">&#xe654;</i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-sm dw-refresh">
                            <i class="layui-icon">&#x1002;</i>
                        </button>
                    </div>
                  <hr>
                  <table class="layui-table">
                      <colgroup>
                          <col width="50">
                          <col width="150">
                          <col width="150">
                          <col width="150">
                          <col width="150">
                          <col width="250">
                          <col width="150">
                          <col width="100">
                          <col width="100">
                          <col width="150">
                      </colgroup>
                      <thead>
                          <tr>
                              <th class="selectAll"><input type="checkbox"></th>
                              <th>商品编号</th>
                              <th>商品名称</th>
                              <th>商品规格</th>
                              <th>商品品牌</th>
                              <th>商品副标题</th>
                              <th>商品数量</th>
                              <th>销售价</th>
                              <th>计价单位</th>
                              <th style="text-align:center;">操作</th>
                          </tr>
                      </thead>
                      <tbody id="goodsContent">
                          <!-- 列表内容 -->
                      </tbody>
                  </table>
                  <div id="page"></div>
                </div>
            </fieldset>
        </div>
      </div>

    <div class="layui-footer" th:include="boss\index\footer::boss-footer">
        <!-- 底部 -->
    </div>
</div>
<script type="text/javascript" src="../boss/layui/javascript/jquery.min.js"></script>
<script type="text/javascript" src="../boss/layui/layui/layui.js"></script>
<script type="text/javascript" src="../boss/layui/icheck/icheck.js"></script>
<script type="text/javascript" src="../boss/layui/javascript/dw.js"></script>
<script type="text/javascript" src="../boss/comm/left.js"></script>
</body>

<script>

    $(function () {

        layui.use('form', function(){
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });

        function selectOrderList(pageNo,pageSize) {
            var divContent = "";

            var goodsName = $("#goodsName").val();
            var catId = $("#catId").val();
            $.ajax({
                type : "post",
                url : "/goodsBoss/goodsList",
                data : {"pageNo":pageNo,"pageSize":pageSize,"goodsName":goodsName,"catId":catId},
                success : function (data) {
                    if(data.list){
                        $.each(data.list, function (index, goods) {
                            divContent = divContent
                            +"<tr>"
                                +"<td><input type='checkbox' name='id' value='"+goods.id+"'></td>"
                                +"<td>"+goods.goodsNo+"</td>"
                                +"<td>"+goods.goodsName+"</td>"
                                +"<td>"+goods.goodsSpec+"</td>"
                                +"<td>"+goods.catName+"</td>"
                                +"<td>"+goods.goodsSubtitle+"</td>"
                                +"<td>"+goods.goodsNumber+"</td>"
                                +"<td>"+goods.goodsPrice+"</td>"
                                +"<td>"+goods.goodsDeno+"</td>"
                                +"<td class='text-center'>"
                                    +"<div>"
                                        +"<button class='layui-btn layui-btn-xs goodsEdit' value='"+goods.id+"'>编辑</button>"
                                        +"<button class='layui-btn layui-btn-danger layui-btn-xs goodsDelete' value='"+goods.id+"'>删除</button>"
                                    +"</div>"
                                +"</td>"
                            +"</tr>"
                        })
                    }
                    $("#goodsContent").html(divContent);
                    //分页
                    layui.use('laypage', function(){
                        var laypage = layui.laypage;
                        //执行一个laypage实例
                        laypage.render({
                            elem: 'page'
                            ,count: data.rows //数据总数，从服务端得到
                            ,curr : data.pageNo
                            ,pages : data.totalPages
                            ,limit : data.pageSize
                            ,limits: [data.pageSize]
                            ,groups: 10
                            ,first: '首页' //首页文本
                            ,last: '尾页' //尾页文本
                            ,layout: ['prev', 'page', 'next','limit','count','refresh','skip']
                            ,jump: function(obj, first){
                                //首次不执行
                                if(!first){
                                    selectOrderList(obj.curr,obj.limit);
                                }
                            }
                        });
                    });
                }
            });
        }
        selectOrderList(1,10);


        /**查询按钮*/
        $("#selectGoodsBtn").on('click',function () {
            selectOrderList(1,10);
        });

        /**
         * 编辑-跳转页面
         * */
        $(document).on('click','.goodsEdit',function () {
            var goodsId = $(this).val();
            console.log(goodsId)
            if(goodsId){
                window.location.href = "/goodsBoss/goods-edip-page?goodsId="+goodsId;
            }
        });

        /**
         * 删除
         * */
        $(document).on('click','.goodsDelete',function () {
            var goodsId = $(this).val();
            if(goodsId){
                $.ajax({
                    type: "post",
                    url: "/goodsBoss/deleteGoods",
                    data: {"goodsIds": goodsId},
                    success: function (data) {
                        var pageNo = $("#page .layui-laypage-skip .layui-input").val();
                        var pageSize = $("#page .layui-laypage-limits option").val();
                        console.log("pageNo = "+pageNo+",pageSize = "+pageSize)
                        selectOrderList(pageNo,pageSize);
                    }
                });
            }
        });

        /**
         * 进入新增页面
         * */
        $(".goodsAddPage").on('click',function () {
            window.location.href="/goodsBoss/goods-add-page";
        });

    });

</script>

</html>