<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>确认支付</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="../../js/rem.js"></script> 
    <script src="../../js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/page.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/all.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
<script type="text/javascript">
	$(window).load(function(){
		$(".loading").addClass("loader-chanage")
		$(".loading").fadeOut(300)
	})
</script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
	<body>
		<header class="mui-bar mui-bar-nav report-header box-s" id="header">
			<a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
			<p>提交订单</p>
	    </header>
	    <div id="main" class="mui-clearfix contaniner sorder">	    	
	    	<div class="warning clearfloat box-s">
    			<span>提示：</span>
				<span>请在24小时内完成在线支付，逾期将视为订单无效</span>
    		</div>
    		<div class="odernum clearfloat">
				<input type="hidden" th:value="${saveOrderInfo.orderCode}" id="orderCode">
    			<ul>
    				<li>您的订单号：<span th:text="${saveOrderInfo.orderCode}"></span></li>
    				<li>应付金额：<span>￥<span th:text="${saveOrderInfo.orderPrice}"></span></span></li>
    			</ul>
    		</div>
    		<div class="pay-method clearfloat">
    			<ul>
    				<li>请选择支付方式<input type="hidden" id="payType" value="1"></li>
    			</ul>
    		</div>
	    	<div class="addlist clearfloat">
	    		<div class="bottom clearfloat box-s">
	    			<section class="shopcar clearfloat">
						<div class="shopcar-checkbox fr">
							<label for="weixin" onselectstart="return false" data="2"></label>
							<input type="checkbox" id="weixin"/>
						</div>
						<div class="sorder-list clearfloat fl">
							<i class="iconfont icon-weixinzhifu fl"></i>
							<div class="zuo fl">
								<p class="tit">微信支付</p>
								<p class="fu-tit">亿万用户的选择，更快更安全</p>
							</div>							
						</div>
					</section>
	    		</div>
	    		<div class="bottom clearfloat box-s">
	    			<section class="shopcar clearfloat">
						<div class="shopcar-checkbox fr">
							<label for="zhifubao" onselectstart="return false" class="shopcar-checkd" data="1"></label>
							<input type="checkbox" id="zhifubao"/>
						</div>
						<div class="sorder-list clearfloat fl">
							<i class="iconfont icon-zhifubao fl"></i>
							<div class="zuo fl">
								<p class="tit">支付宝</p>
								<p class="fu-tit">客户端支持最便捷！可银行卡支付！</p>
							</div>							
						</div>
					</section>
	    		</div>
	    	</div>
	    	<a href="#" class="tui-btn">
				确认支付
			</a>
	    </div>

		<div>
			<form style='display:none;' id='formpay' name='formpay' method='post' action='http://pay.aswe.com.cn'>
				<input name='goodsname' id='goodsname' type='text' value='' />
				<input name='istype' id='istype' type='text' value='' />
				<input name='key' id='key' type='text' value=''/>
				<input name='notify_url' id='notify_url' type='text' value=''/>
				<input name='orderid' id='orderid' type='text' value=''/>
				<input name='orderuid' id='orderuid' type='text' value=''/>
				<input name='price' id='price' type='text' value=''/>
				<input name='return_url' id='return_url' type='text' value=''/>
				<input name='uid' id='uid' type='text' value=''/>
				<input type='submit' id='submitPay'>
			</form>
		</div>
	    
	</body>
	<script type="text/javascript" src="../../js/jquery-1.8.3.min.js" ></script>
	<script src="../../js/fastclick.js"></script>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/hmt.js" ></script>
	<script type="text/javascript">
		$(".shopcar-checkbox label").on('touchstart',function(){
            $(".shopcar-checkbox label").removeClass("shopcar-checkd")
            $(this).addClass("shopcar-checkd");
            //支付类型
            $("#payType").val($(this).attr("data"));
		})

		$(function () {


            //确认支付
		    $(".tui-btn").on('click',function () {
		        var orderCode = $("#orderCode").val();
		        var payType = $("#payType").val();
                $.ajax({
                    type : "post",
                    url : "/order/doPayMentZfm",
                    data : {"orderCode":orderCode,"payType":payType},
					success : function (data) {
                    	console.log(data)
                        if(data){
                        	$("#formpay").attr("action",data.baseUrl);
                        	$("#goodsname").attr("value",data.goodsname);
							$("#istype").attr("value",data.istype);
							$("#key").attr("value",data.key);
							$("#notify_url").attr("value",data.notifyUrl);
							$("#orderid").attr("value",data.orderid);
							$("#orderuid").attr("value",data.orderuid);
							$("#price").attr("value",data.price);
							$("#return_url").attr("value",data.returnUrl);
							$("#uid").attr("value",data.uid);
							//表单请求
							$("#formpay").submit();
						}
                    }
                })
            })

        })
	</script>
</html>
