<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>商品详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="../../js/rem.js"></script> 
    <script src="../../js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/page.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/all.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
<script type="text/javascript">
	$(window).load(function(){
		$(".loading").addClass("loader-chanage")
		$(".loading").fadeOut(300)
	})
</script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
	<body>
		<header class="mui-bar mui-bar-nav report-header box-s" id="header">
			<a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
			<p>商品详情</p>
			<input type="hidden" id="goodsId" th:value="${goodsDetail.id}">
	    </header>
	    <div id="main" class="mui-clearfix">
	    	<div class="banner swiper-container">
	            <div class="swiper-wrapper">
	                <div class="swiper-slide" th:each="goodsImg,iterStat: ${goodsDetail.goodsImageList}">
						<a href="javascript:void(0)"><img class="swiper-lazy" th:data-src="${goodsImg.imageUrl}" alt=""></a>
					</div>
	            </div>
	            <div class="swiper-pagination"></div>
	        </div>
	        <div class="inte-top clearfloat box-s">
	        	<div class="left clearfloat fl">
					<p class="price"><span style="font-size:.9rem" th:text="${goodsDetail.goodsPrice}">500</span>元<samp>￥<apana th:text="${goodsDetail.goodsOldPrice}"></apana>元</samp></p>
	        		<!--<p class="tit" th:text="${goodsDetail.goodsName}">XXX夏季流行女装</p>-->
					<p class="" style="color: #333333" th:text="${goodsDetail.goodsName}">XXX夏季流行女装</p>
	        	</div>
	        	<div class="right clearfloat fr" id="goods_collection" th:data="${goodsDetail.isGoodsCollection}">
	        		<i th:class="${goodsDetail.isGoodsCollection==false}?'iconfont icon-shoucang':'iconfont icon-shoucang1'"></i>
	        		<p class="">收藏</p>
	        	</div>
	        </div>
	        <div class="addj clearfloat">
	        	<ul>
	        		<li class="num">商品数量</li>
	        		<li class="fuhao"><i class="iconfont icon-jian"></i></li>
	        		<li class="shu">1</li>
	        		<li class="fuhao"><i class="iconfont icon-jia-copy"></i></li>
	        		<li class="last">库存<span style="font-size: 1.8em" th:text="${goodsDetail.goodsNumber}"></span>件</li>
	        	</ul>
	        </div>
	        <article class="detail-article">
				<nav>
					<ul class="article">
						<li id="talkbox1" class="article-active">商品信息</li>
						<!--<li id="talkbox2">商品评价(4)</li>-->
					</ul>
				</nav>

				<section class="talkbox1">
					<img th:each="goodsDetailImg,iterStat: ${goodsDetail.goodsDetailImgs}" th:src="${goodsDetailImg}"/>
				</section>

				<section class="talkbox2" style="display: none;">
					<ul class="talk">
						<li>
							<figure><img src="../../upload/detail-tou.png"/></figure>
							<dl>
								<dt>
									<p>瑾晨</p>
									<time>2015.11.17</time>
									<div class="star">
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
									</div>
								</dt>
								<dd>哎哟不错哦，很性感哦！</dd>
								<small>颜色：豹纹凯特</small>
							</dl>
						</li>
						<li>
							<figure><img src="../../upload/detail-tou.png"/></figure>
							<dl>
								<dt>
									<p>瑾晨</p>
									<time>2015.11.17</time>
									<div class="star">
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
									</div>
								</dt>
								<dd>哎哟不错哦，很性感哦！</dd>
								<small>颜色：豹纹凯特</small>
								<div class="picbox">
									<img src="../../upload/2.jpg"/>
									<img src="../../upload/2.jpg"/>
									<img src="../../upload/2.jpg"/>
									<img src="../../upload/2.jpg"/>
								</div>
							</dl>
						</li>
						<li>
							<figure><img src="../../upload/detail-tou.png"/></figure>
							<dl>
								<dt>
									<p>瑾晨</p>
									<time>2015.11.17</time>
									<div class="star">
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
									</div>
								</dt>
								<dd>哎哟不错哦，很性感哦！</dd>
								<small>颜色：豹纹凯特</small>
							</dl>
						</li>
						<li>
							<figure><img src="../../upload/detail-tou.png"/></figure>
							<dl>
								<dt>
									<p>瑾晨</p>
									<time>2015.11.17</time>
									<div class="star">
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn01.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
										<span><img src="../../img/detail-iocn001.png"/></span>
									</div>
								</dt>
								<dd>哎哟不错哦，很性感哦！</dd>
								<small>颜色：豹纹凯特</small>
								<div class="picbox">
									<img src="../../upload/2.jpg"/>
									<img src="../../upload/2.jpg"/>
								</div>
							</dl>
						</li>
					</ul>
				</section>
				
			</article>
	    </div>
	    
	    <footer class="page-footer fixed-footer" id="footer">
	     	<a href="#" class="shopcaradd fl">
	     		加入购物车
	     	</a>
	     	<a href="#" class="ljdhuan fl">
	     		立即购买
	     	</a>
	    </footer>
	</body>
	<script type="text/javascript" src="../../js/jquery-1.8.3.min.js" ></script>
	<script src="../../js/fastclick.js"></script>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/hmt.js" ></script>
	<!--插件-->
	<link rel="stylesheet" href="../../css/swiper.min.css">
	<script src="../../js/swiper.jquery.min.js"></script>
	<!--插件-->
	<script src="../../js/global.js"></script>
	<script >
		$(function () {
			var banner = new Swiper('.banner',{
				autoplay: 5000,
				pagination : '.swiper-pagination',
				paginationClickable: true,
				lazyLoading : true,
				loop:true
			});

			 mui('.pop-schwrap .sch-input').input();
			var deceleration = mui.os.ios?0.003:0.0009;
			 mui('.pop-schwrap .scroll-wrap').scroll({
					bounce: true,
					indicators: true,
					deceleration:deceleration
			});
			$('.top-sch-box .fdj,.top-sch-box .sch-txt,.pop-schwrap .btn-back').on('click',function () {
				$('html,body').toggleClass('holding');
				$('.pop-schwrap').toggleClass('on');
				if($('.pop-schwrap').hasClass('on')) {;
					$('.pop-schwrap .sch-input').focus();
				}
			});

			$('.article li').click(function(){

				$(this).addClass('article-active').siblings().removeClass('article-active');
				if($(this).attr("id")=="talkbox1"){
					$('.talkbox1').show();
					$('.talkbox2').hide();
				}else{
					$('.talkbox2').show();
					$('.talkbox1').hide();
				}
			});

            //数量减少
            $(".icon-jian").on('click',function () {
                var value = $(".shu").text();
                if(value > 1){
                    value--;
                    $(".shu").text(value);
                }
            });


            //数量增加
            $(".icon-jia-copy").on('click',function () {
                var value = $(".shu").text();
                value++;
                $(".shu").text(value);
            });

            //加入购物车
			$(".shopcaradd").on('click',function () {

                var token = localStorage.getItem("token");

                if(token) {
					var value = $(".shu").text();
					var goodsId = $("#goodsId").val();

					$.ajax({
						headers: {
							"token": token
						},
						type: "post",
						url: "/shoppingCart/addShoppingCart",
						data: {"goodsId": goodsId, "number": value},
						success: function (data) {
							if (1 == data) {
								window.location.href = "/shoppingCartPage/shopping-cart-page";
							} else if (0 == data) {
								window.location.href = "/login/login-page";
							}
						}
					});
				}else{
					window.location.href = "/login/login-page";
				}
            });


			//立即购买
			$(".ljdhuan").on('click',function () {

                var value = $(".shu").text();
                var goodsId = $("#goodsId").val();

                var token = localStorage.getItem("token");
                if(token){
                    $.ajax({
                        type : "post",
                        url : "/login/isTokenToUser",
                        headers : {"token":token},
                        success : function (user) {
                            if(user){
                                window.location.href="/orderPage/order-confirm-page?customerId="+user.id+"&goodsId="+goodsId+"&goodsNumber="+value;
                            }
                        }

                    })
                }else{
					window.location.href="/login/login-page" ;
				}

            });


			//收藏
			$("#goods_collection").on('click',function () {

                var token = localStorage.getItem("token");

                var goodsId = $("#goodsId").val();
				var isGoodsCollection = $(this).attr("data");

				//判断是否登陆用户，未登陆跳进登陆页面
				if(!token){
				    window.location.href = "/login/login-page";
				    return false;
				}

				//判断是否 已收藏 的 商品
				if(isGoodsCollection=='true'){
				    alert("已收藏");
				    return false;
				}

				//保存收藏信息
				$.ajax({
					headers : {
					    "token":token
					},
					type : "post",
					url : "/goodsCollection/addGoodsCollection",
					data : {"goodsId":goodsId},
					success : function (data) {
					    if(data > 0) {
                            $("#goods_collection i").removeClass().addClass("iconfont icon-shoucang1")
                        }
                        return false;
                    }
				});

            });

            //判断是否已收藏
            function isCollectionGoods() {
                var token = localStorage.getItem("token");
                var goodsId = $("#goodsId").val();
                $.ajax({
                    headers : {
                        "token":token
                    },
                    type : "post",
                    url : "/goodsCollection/isCollectionGoods",
                    data : {"goodsId":goodsId},
                    success : function (data) {
                        if(data) {
                            $("#goods_collection i").removeClass().addClass("iconfont icon-shoucang1")
                        }
                        return false;
                    }
                });
            }
            isCollectionGoods();

	    });
	</script>
</html>
