<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>会员中心</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <script src="../../new/lib/jquery-2.1.4.js"></script>

  <link rel="stylesheet" href="../../new/lib/weui.min.css">
  <link rel="stylesheet" href="../../new/css/jquery-weui.css">
  <link rel="stylesheet" href="../../new/css/style.css">

  <!-- old -->
  <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
</head>
<body ontouchstart>
<!-- 标识当前页面选中状态 -->
<input type="hidden" value="pcenter" id="footer-active">
<!--主体-->
<div class='weui-content'>
  <div class="wy-center-top">
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb radius" src="../../new/upload/headimg.jpg" alt="">
      </div>
      <div class="weui-media-box__bd" id="customerInfo">
        <h4 class="weui-media-box__title user-name" id="customerUsername">飞翔的小土豆</h4>
        <p class="user-grade">等级：<span id="customerLevel">普通会员</span></p>
        <!--<p class="user-integral">待返还金额：<em class="num">500.0</em>元</p>-->
      </div>
    </div>
    <!--    <div class="xx-menu weui-flex">
          <div class="weui-flex__item"><div class="xx-menu-list"><em>987</em><p>账户余额</p></div></div>
          <div class="weui-flex__item"><div class="xx-menu-list"><em>459</em><p>我的蓝豆</p></div></div>
          <div class="weui-flex__item"><div class="xx-menu-list"><em>4</em><p>收藏商品</p></div></div>
        </div>-->
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <a href="#" id="allOrder" class="weui-cell weui-cell_access center-alloder">
        <div class="weui-cell__bd wy-cell">
          <div class="weui-cell__hd"><img src="../../new/images/center-icon-order-all.png" alt="" class="center-list-icon"></div>
          <div class="weui-cell__bd weui-cell_primary"><p class="center-list-txt">全部订单</p></div>
        </div>
        <span class="weui-cell__ft"></span>
      </a>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-flex">
        <div class="weui-flex__item">
          <a href="#" id="paymentOrder" class="center-ordersModule">
            <div class="imgicon"><img src="../../new/images/center-icon-order-dfk.png" /></div>
            <div class="name">待付款</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="#" id="sendGoodsOrder" class="center-ordersModule">
            <div class="imgicon"><img src="../../new/images/center-icon-order-dfh.png" /></div>
            <div class="name">待发货</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="#" id="forGOodsOrder" class="center-ordersModule">
            <div class="imgicon"><img src="../../new/images/center-icon-order-dsh.png" /></div>
            <div class="name">待收货</div>
          </a>
        </div>
        <div class="weui-flex__item">
          <a href="#" id="evaluateOrder" class="center-ordersModule">
            <div class="imgicon"><img src="../../new/images/center-icon-order-dpj.png" /></div>
            <div class="name">待评价</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <!--<a class="weui-cell weui-cell_access" href="../../new/record.html">
            <div class="weui-cell__hd"><img src="../../new/images/center-icon-jyjl.png" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">交易记录</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>-->

          <a class="weui-cell weui-cell_access" href="/lxwmPage/lxwm-page" id="lxwm-page">
            <div class="weui-cell__hd"><img src="../../new/images/lxwm_2.jpg" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">联系我们</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="#" id="collection-page">
            <div class="weui-cell__hd"><img src="../../new/images/center-icon-sc.png" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">我的收藏</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="#" id="address-list">
            <div class="weui-cell__hd"><img src="../../new/images/center-icon-dz.png" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">地址管理</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="#" id="edit-password">
            <div class="weui-cell__hd"><img src="../../new/images/center-icon-dlmm.png" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">密码修改</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
          <a class="weui-cell weui-cell_access" href="#" id="tuichu-login">
            <div class="weui-cell__hd"><img src="../../new/images/center-icon-out.png" alt="" class="center-list-icon"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p class="center-list-txt">退出账号</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>



</div>

<!--底部导航-->
<div class="foot-black"></div>
<div class="foot-black"></div>
<footer class="page-footer fixed-footer" id="footer" th:include="footer::footer">

</footer>

<script src="../../new/lib/jquery-2.1.4.js"></script>
<script src="../../new/lib/fastclick.js"></script>
<!-- 公共插件 -->
<script src="../../beau/footer.js" type="text/javascript" ></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="../../new/js/jquery-weui.js"></script>

<script>

  $(function () {

      //查询会员的信息
      function selectCustomerInfo() {
          var token = localStorage.getItem("token");
          if(token){
              $.ajax({
                 headers : {
                     "token":token
                 } ,
                 type : "post",
                  url : "/customer/selectCustomerInfo",
                  success : function (customer) {
                      if(customer){
                          $("#customerUsername").text(customer.customerNickname);
                          $("#customerLevel").text(customer.customerLevel);
                      }
                  }
              });
          }else{
              $("#customerInfo").html("<a href='/login/login-page'><p>请登录</p></a>");
          }
      }
      selectCustomerInfo();

      //订单各个状态的数量
      function orderStatusNumbers() {

          var token = localStorage.getItem("token");
          if(!token){
              //window.location.href = "/login/login-page";
              $(".weui-panel__bd .weui-flex a span").remove();
              return;
          }

          $.ajax({
              headers : {
                  "token":token
              },
              type : "post",
              url : "/order/orderStatusNumbers",
              success : function (data) {
                  if(data){
                      if(data.paymentStatusNumber!=0){
                          $("#paymentOrder").append("<span class='weui-badge' style='position: absolute;top:5px;right:10px; font-size:10px;'>"+data.paymentStatusNumber+"</span>")
                      }

                      if(data.sendGoodsStatusNumber!=0){
                          $("#sendGoodsOrder").append("<span class='weui-badge' style='position: absolute;top:5px;right:10px; font-size:10px;'>"+data.sendGoodsStatusNumber+"</span>")
                      }

                      if(data.theGoodsStatusNumber!=0){
                          $("#forGOodsOrder").append("<span class='weui-badge' style='position: absolute;top:5px;right:10px; font-size:10px;'>"+data.theGoodsStatusNumber+"</span>")
                      }

                      if(data.evaluateStatusNumber!=0){
                          $("#evaluateOrder").append("<span class='weui-badge' style='position: absolute;top:5px;right:10px; font-size:10px;'>"+data.evaluateStatusNumber+"</span>")
                      }
                  }
              }
          });
      }
      orderStatusNumbers();


      //我的收藏
      $("#collection-page").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }else{
              window.location.href = "/collectionPage/collection-page";
              return;
          }
      });

      //地址管理
      $("#address-list").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }else{
              window.location.href = "/addressPage/address2-list-page";
          }
      });

      //修改密码
      $("#edit-password").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }else{
              window.location.href = "/customerEditPasswordPage/customer-edit-password-page";
              return;
          }
      });

      //退出账号
      $("#tuichu-login").on('click',function () {
          localStorage.removeItem("token");
          window.location.href = "/login/login-page";
      });



      //订单
      //全部
      $("#allOrder").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }
          window.location.href = "/orderPage/order2-page?orderStatus=all";
      });
      //待付款
      $("#paymentOrder").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }
          window.location.href = "/orderPage/order2-page?orderStatus=0";
      });
      //待发货
      $("#sendGoodsOrder").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }
          window.location.href = "/orderPage/order2-page?orderStatus=1";
      });
      //待收货
      $("#forGOodsOrder").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }
          window.location.href = "/orderPage/order2-page?orderStatus=2";
      });
      //待评价
      $("#evaluateOrder").on('click',function () {
          var token = localStorage.getItem("token");
          if(!token){
              window.location.href = "/login/login-page";
              return;
          }
          window.location.href = "/orderPage/order2-page?orderStatus=-1";
      });

  });

</script>
</body>
</html>
