<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>资讯</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script src="../../js/rem.js"></script>
  <script src="../../js/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/all.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/loaders.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
  <link rel="stylesheet" type="text/css" href="../../slick/slick.css"/>
  <!-- new -->
  <link rel="stylesheet" href="../../new/css/style.css">
  <link rel="stylesheet" href="../../new/lib/weui.min.css">
</head>
<body ontouchstart>
  <header class="mui-bar mui-bar-nav" style="border-bottom:0px;">
    <a href="javascript:history.go(-1)" class="wy-header-icon-back"><span></span></a>
    <p class="wy-header-title" style="text-align: center;width: 100%">资讯</p>
  </header>
  <br/><br/><br/><br/>

  <!-- 列表内容 -->
  <div>
    <div>
      <p></p>
    </div>

  </div>

</body>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js" ></script>
<script src="../../js/fastclick.js"></script>
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/hmt.js" ></script>
<script src="../../slick/slick.js" type="text/javascript" ></script>
<!--插件-->
<link rel="stylesheet" href="../../css/swiper.min.css">
<script src="../../js/swiper.jquery.min.js"></script>
<!--插件-->
<script src="../../js/global.js"></script>
<!-- 公共插件 -->
<script src="../../beau/footer.js" type="text/javascript" ></script>
<script src="../../js/jquery.form.js" type="text/javascript"></script>

</html>
