<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>支付类型设置</title>
  <link rel="stylesheet" href="../boss/layui/layui/css/layui.css">
  <link rel="stylesheet" href="../boss/layui/css/global.css">
  <link rel="stylesheet" href="../boss/layui/icheck/minimal/red.css">
    <style>
        .layui-body{overflow-y: scroll;}
    </style>
</head>
<body class="layui-layout-body">
<!-- 左侧选中标识 -->
<input hidden id="manage" value="basicinfoManage">
<input hidden id="check" value="payType">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:include="boss\index\top::boss-top">
        <!-- 头部 -->
    </div>

    <div class="layui-side layui-bg-black" th:include="boss\index\left::boss-left">
        <!-- 左边导航栏 -->
    </div>
  
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field">
                <legend>支付配置 - 支付类型设置</legend>
                <div class="layui-field-box">
                    <table class="layui-table" lay-skin="nob" lay-size="mg">
                        <col width="150">
                        <col width="200">
                        <tr>
                            <td style='text-align: left ; color:#FFA07A'>支付设置</td>
                            <td style='text-align: right'><a href="javascript:history.back(-1)" style="color:#FFA07A">返回</a></td>
                        </tr>
                    </table>
                    <hr/>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">支付方式：</label>
                        <div class="layui-input-block">
                            <label class="layui-form-label" style="color: #FFA07A;font-size: 20px;" th:text="${paytype.payType}"></label>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">支付说明：</label>
                        <div class="layui-input-block">
                            <textarea name="desc" placeholder="请输入内容" class="layui-textarea" th:text="${paytype.content}" id="content"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block" style="padding-left: 200px">
                            <button class="layui-btn" id="updateSubmit" th:data="${paytype.id}">提交</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
      </div>

    <div class="layui-footer" th:include="boss\index\footer::boss-footer">
        <!-- 底部 -->
    </div>
</div>
<script type="text/javascript" src="../boss/layui/javascript/jquery.min.js"></script>
<script type="text/javascript" src="../boss/layui/layui/layui.js"></script>
<script type="text/javascript" src="../boss/layui/icheck/icheck.js"></script>
<script type="text/javascript" src="../boss/layui/javascript/dw.js"></script>
<script type="text/javascript" src="../boss/comm/left.js"></script>
</body>

<script>

    $(function () {




        /**
         * 提交
         * */
        $("#updateSubmit").on('click',function () {
            var paytypeId = $(this).attr("data");
            var content = $("#content").val();
            $.ajax({
                type: "post",
                url: "/payTypeBoss/updateContent",
                data: {"id":paytypeId,"content":content},
                success: function (data) {
                    var tip = "修改失败"
                    if(data > 0){
                        tip = "修改成功"
                    }
                    //提示弹窗
                    layer.msg(tip , {
                        icon: 1,
                        time: 3000 //n秒关闭（如果不配置，默认是5秒）
                    }, function(){

                    });
                    return;
                }
            });
        });


    });

</script>

</html>