<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>全部订单</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="../../new/lib/weui.min.css">
<link rel="stylesheet" href="../../new/css/jquery-weui.css">
<link rel="stylesheet" href="../../new/css/style.css">
</head>
<body ontouchstart>
<header class="wy-header" style="position:fixed; top:0; left:0; right:0; z-index:200;">
  <a href="javascript:history.go(-1)" class="wy-header-icon-back"><span></span></a>
  <div class="wy-header-title">订单管理</div>
</header>
<div class='weui-content'>
  <div class="weui-tab">
    <div class="weui-navbar" style="position:fixed; top:44px; left:0; right:0; height:44px; background:#fff;">
      <a class="weui-navbar__item proinfo-tab-tit font-14 weui-bar__item--on" href="#" data="all">全部</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#" data="0">待付款</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#" data="1">待发货</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#" data="2">待收货</a>
      <a class="weui-navbar__item proinfo-tab-tit font-14" href="#" data="-1">待评价</a>
    </div>
    <div class="weui-tab__bd proinfo-tab-con" style="padding-top:87px;">
      <input type="hidden" th:value="${orderStatus}" id="orderStatusValue">
      <div id="order-list" class="weui-tab__bd-item weui-tab__bd-item--active">

        <!-- 订单内容 -->

      </div>
    </div>
  </div>
</div>

<script src="../../new/lib/jquery-2.1.4.js"></script> 
<script src="../../new/lib/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script> 
<script src="../../new/js/jquery-weui.js"></script>
<script>

      $(document).on("click", ".ords-btn-dele", function() {
        $.confirm("您确定要删除此订单吗?", "确认删除?", function() {
          $.toast("订单已经删除!");
        }, function() {
          //取消操作
        });
      });
	  $(document).on("click", ".receipt", function() {
        $.alert("五星好评送蓝豆哦，赶快去评价吧！", "收货完成！");
      });

	  $(function () {
          //查询订单列表
          function selectOrderList(orderStatus) {
              var token = localStorage.getItem("token");

              var divContent = "";
              if(orderStatus==='all'){
                  orderStatus = "";
              }
              $.ajax({
                  headers : {
                      "token":token
                  },
                  type : "post",
                  url : "/order/orderList",
                  data : {"orderStatus":orderStatus},
                  success : function (data) {
                      if(!data){
                          divContent = divContent
                              +"<div style='text-align: center;font-size: 20px;'>暂无订单</div>";
                      }else {
                          $.each(data, function (index, order) {
                              divContent = divContent+
                                      "<div class='weui-panel weui-panel_access'>"+
                                        "<div class='weui-panel__hd'>" +
                                          "<span>单号："+order.orderCode+"</span>" +
                                          "<span class='ord-status-txt-ts fr'>";
                                            if(order.orderStatus=='0'){
                                              divContent = divContent+"待付款"
                                            }
                                            if(order.orderStatus=='1'){
                                                divContent = divContent+"待发货"
                                            }
                                            if(order.orderStatus=='2'){
                                                divContent = divContent+"待收货"
                                            }
                                            if(order.orderStatus=='3'){
                                                divContent = divContent+"交易完成"
                                            }
                                          divContent = divContent+
                                        "</div>"+
                                        "<div class='weui-media-box__bd  pd-10'>"
                                        $.each(order.orderListGoodsRsps,function (index2,goods) {
                                            divContent = divContent+ "" +
                                                "<div class='weui-media-box_appmsg ord-pro-list'>"+
                                                    "<div class='weui-media-box__hd'>" +
                                                        "<a href='/goodsDetailPage/goods-detail-page?goodsId="+goods.goodsId+"'>" +
                                                          "<img class='weui-media-box__thumb' src='"+goods.goodsImg+"' alt=''>" +
                                                        "</a>" +
                                                    "</div>"+
                                                    "<div class='weui-media-box__bd'>"+
                                                        "<h1 class='weui-media-box__desc'>" +
                                                            "<a href='/goodsDetailPage/goods-detail-page?goodsId="+goods.goodsId+"' class='ord-pro-link'>"+goods.goodsName+"</a>" +
                                                        "</h1>"+
                                                        "<p class='weui-media-box__desc'>规格：<span>"+goods.goodsSpec+"</span></p>"+
                                                        "<div class='clear mg-t-10'>"+
                                                            "<div class='wy-pro-pri fl'>¥<em class='num font-15'>"+goods.goodsPrice+"</em></div>"+
                                                            "<div class='pro-amount fr'><span class='font-13'>数量×<em class='name'>"+goods.goodsNumber+"</em></span></div>"+
                                                        "</div>"+
                                                    "</div>"+
                                                "</div>"
                                        })
                                        divContent = divContent+
                                        "</div>"+
                                        "<div class='ord-statistics'>"+
                                            "<span>共<em class='num'>"+order.sumGoodsNumber+"</em>件商品，</span>"+
                                            "<span class='wy-pro-pri'>总金额：¥<em class='num font-15'>"+order.orderPrice+"</em></span>"+
                                            "<span>(含运费<b>￥"+order.expressPrice+"</b>)</span>"+
                                        "</div>"+
                                        "<div class='weui-panel__ft'>"+
                                             "<div class='weui-cell weui-cell_access weui-cell_link oder-opt-btnbox' data='"+order.orderId+"'>";
                                                  if(order.orderStatus=='0'){
                                                      divContent = divContent+"<a href='#' class='ords-btn-com payment' data='"+order.orderCode+"'>去付款</a>"
                                                  }
                                                  if(order.orderStatus=='1'){
                                                      divContent = divContent+"商品正在打包中，请您耐心等待...."
                                                  }
                                                  if(order.orderStatus=='2'){
                                                      divContent = divContent+"<a href='#' class='ords-btn-com confirmReceipt'>确认收货</a>"
                                                  }
                                                  if(order.orderStatus=='3'){
                                                      divContent = divContent+"交易完成"
                                                  }
                                            divContent = divContent+
                                             "</div>"+
                                        "</div>"+
                                      "</div>"
                          });
                      }

                      $("#order-list").html(divContent);
                  }
              });
          }

          //查询订单列表
          //selectOrderList("");

          var orderStatusValue = $("#orderStatusValue").val();
              //跳转到页面，加载完成后，根据状态查询
          $(".weui-navbar a").each(function () {
              if($(this).attr("data")===orderStatusValue){
                  $(".weui-navbar a").removeClass("weui-bar__item--on");
                  $(this).addClass("weui-bar__item--on");
                  selectOrderList(orderStatusValue);
                  return;
              }
          });

          //状态点击事件
          $(".weui-navbar a").on('click',function () {
              $(".order-top li").removeClass("weui-bar__item--on");
              $(this).parents().addClass("weui-bar__item--on");
              var orderStatus = $(this).attr("data");
              selectOrderList(orderStatus);
          });

          //确认收货
          $(document).on('click','.confirmReceipt',function () {
             var orderId = $(this).parent("div").attr("data");
             $.ajax({
                 type : "post",
                 url : "/order/confirmReceipt",
                 data : {"orderId":orderId},
                 success : function (data) {
                     if(data==1){
                         selectOrderList("2")
                     }
                 }
             });
          });

          //去付款
          $(document).on('click','.payment',function () {
              var orderCode = $(this).attr("data");
              window.location.href = "/orderPage/order-pay-page?orderCode=" + orderCode;
              /*$.ajax({
                  type : "post",
                  url : "/order/pay",
                  data : {"orderCode":orderCode},
                  success : function (data) {
                      document.write(data);
                  }
              })*/
          });

      });

    </script>
</body>
</html>
