<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gow.beau.storage.auto.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.gow.beau.storage.auto.model.Customer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_username" jdbcType="VARCHAR" property="customerUsername" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="customer_password" jdbcType="VARCHAR" property="customerPassword" />
    <result column="customer_nickname" jdbcType="VARCHAR" property="customerNickname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="customer_realname" jdbcType="VARCHAR" property="customerRealname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="customer_img" jdbcType="VARCHAR" property="customerImg" />
    <result column="captcha" jdbcType="VARCHAR" property="captcha" />
    <result column="aead_time" jdbcType="TIMESTAMP" property="aeadTime" />
    <result column="pwd_captcha" jdbcType="VARCHAR" property="pwdCaptcha" />
    <result column="pwd_aead_time" jdbcType="TIMESTAMP" property="pwdAeadTime" />
    <result column="login_error_count" jdbcType="BIGINT" property="loginErrorCount" />
    <result column="user_salt_val" jdbcType="VARCHAR" property="userSaltVal" />
    <result column="customer_referee" jdbcType="VARCHAR" property="customerReferee" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="is_use" jdbcType="CHAR" property="isUse" />
    <result column="is_use_time" jdbcType="TIMESTAMP" property="isUseTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_username, mobile, customer_password, customer_nickname, sex, birthday, 
    customer_realname, address, login_ip, login_time, customer_img, captcha, aead_time, 
    pwd_captcha, pwd_aead_time, login_error_count, user_salt_val, customer_referee, create_time, 
    modify_time, is_delete, integral, is_use, is_use_time
  </sql>
  <select id="selectByExample" parameterType="com.gow.beau.storage.auto.model.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gow_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gow_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gow_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gow.beau.storage.auto.model.CustomerExample">
    delete from gow_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gow.beau.storage.auto.model.Customer" useGeneratedKeys="true">
    insert into gow_customer (customer_username, mobile, customer_password, 
      customer_nickname, sex, birthday, 
      customer_realname, address, login_ip, 
      login_time, customer_img, captcha, 
      aead_time, pwd_captcha, pwd_aead_time, 
      login_error_count, user_salt_val, customer_referee, 
      create_time, modify_time, is_delete, 
      integral, is_use, is_use_time
      )
    values (#{customerUsername,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{customerPassword,jdbcType=VARCHAR}, 
      #{customerNickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{customerRealname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{loginIp,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{customerImg,jdbcType=VARCHAR}, #{captcha,jdbcType=VARCHAR}, 
      #{aeadTime,jdbcType=TIMESTAMP}, #{pwdCaptcha,jdbcType=VARCHAR}, #{pwdAeadTime,jdbcType=TIMESTAMP}, 
      #{loginErrorCount,jdbcType=BIGINT}, #{userSaltVal,jdbcType=VARCHAR}, #{customerReferee,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR}, 
      #{integral,jdbcType=INTEGER}, #{isUse,jdbcType=CHAR}, #{isUseTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gow.beau.storage.auto.model.Customer" useGeneratedKeys="true">
    insert into gow_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerUsername != null">
        customer_username,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="customerPassword != null">
        customer_password,
      </if>
      <if test="customerNickname != null">
        customer_nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="customerRealname != null">
        customer_realname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="customerImg != null">
        customer_img,
      </if>
      <if test="captcha != null">
        captcha,
      </if>
      <if test="aeadTime != null">
        aead_time,
      </if>
      <if test="pwdCaptcha != null">
        pwd_captcha,
      </if>
      <if test="pwdAeadTime != null">
        pwd_aead_time,
      </if>
      <if test="loginErrorCount != null">
        login_error_count,
      </if>
      <if test="userSaltVal != null">
        user_salt_val,
      </if>
      <if test="customerReferee != null">
        customer_referee,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="isUse != null">
        is_use,
      </if>
      <if test="isUseTime != null">
        is_use_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerUsername != null">
        #{customerUsername,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="customerPassword != null">
        #{customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="customerNickname != null">
        #{customerNickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="customerRealname != null">
        #{customerRealname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerImg != null">
        #{customerImg,jdbcType=VARCHAR},
      </if>
      <if test="captcha != null">
        #{captcha,jdbcType=VARCHAR},
      </if>
      <if test="aeadTime != null">
        #{aeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdCaptcha != null">
        #{pwdCaptcha,jdbcType=VARCHAR},
      </if>
      <if test="pwdAeadTime != null">
        #{pwdAeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginErrorCount != null">
        #{loginErrorCount,jdbcType=BIGINT},
      </if>
      <if test="userSaltVal != null">
        #{userSaltVal,jdbcType=VARCHAR},
      </if>
      <if test="customerReferee != null">
        #{customerReferee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=CHAR},
      </if>
      <if test="isUseTime != null">
        #{isUseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gow.beau.storage.auto.model.CustomerExample" resultType="java.lang.Long">
    select count(*) from gow_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gow_customer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerUsername != null">
        customer_username = #{record.customerUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPassword != null">
        customer_password = #{record.customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.customerNickname != null">
        customer_nickname = #{record.customerNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.customerRealname != null">
        customer_realname = #{record.customerRealname,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.loginIp != null">
        login_ip = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null">
        login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.customerImg != null">
        customer_img = #{record.customerImg,jdbcType=VARCHAR},
      </if>
      <if test="record.captcha != null">
        captcha = #{record.captcha,jdbcType=VARCHAR},
      </if>
      <if test="record.aeadTime != null">
        aead_time = #{record.aeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pwdCaptcha != null">
        pwd_captcha = #{record.pwdCaptcha,jdbcType=VARCHAR},
      </if>
      <if test="record.pwdAeadTime != null">
        pwd_aead_time = #{record.pwdAeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginErrorCount != null">
        login_error_count = #{record.loginErrorCount,jdbcType=BIGINT},
      </if>
      <if test="record.userSaltVal != null">
        user_salt_val = #{record.userSaltVal,jdbcType=VARCHAR},
      </if>
      <if test="record.customerReferee != null">
        customer_referee = #{record.customerReferee,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.isUse != null">
        is_use = #{record.isUse,jdbcType=CHAR},
      </if>
      <if test="record.isUseTime != null">
        is_use_time = #{record.isUseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gow_customer
    set id = #{record.id,jdbcType=BIGINT},
      customer_username = #{record.customerUsername,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      customer_password = #{record.customerPassword,jdbcType=VARCHAR},
      customer_nickname = #{record.customerNickname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      customer_realname = #{record.customerRealname,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      login_ip = #{record.loginIp,jdbcType=VARCHAR},
      login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      customer_img = #{record.customerImg,jdbcType=VARCHAR},
      captcha = #{record.captcha,jdbcType=VARCHAR},
      aead_time = #{record.aeadTime,jdbcType=TIMESTAMP},
      pwd_captcha = #{record.pwdCaptcha,jdbcType=VARCHAR},
      pwd_aead_time = #{record.pwdAeadTime,jdbcType=TIMESTAMP},
      login_error_count = #{record.loginErrorCount,jdbcType=BIGINT},
      user_salt_val = #{record.userSaltVal,jdbcType=VARCHAR},
      customer_referee = #{record.customerReferee,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=CHAR},
      integral = #{record.integral,jdbcType=INTEGER},
      is_use = #{record.isUse,jdbcType=CHAR},
      is_use_time = #{record.isUseTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gow.beau.storage.auto.model.Customer">
    update gow_customer
    <set>
      <if test="customerUsername != null">
        customer_username = #{customerUsername,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="customerPassword != null">
        customer_password = #{customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="customerNickname != null">
        customer_nickname = #{customerNickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="customerRealname != null">
        customer_realname = #{customerRealname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerImg != null">
        customer_img = #{customerImg,jdbcType=VARCHAR},
      </if>
      <if test="captcha != null">
        captcha = #{captcha,jdbcType=VARCHAR},
      </if>
      <if test="aeadTime != null">
        aead_time = #{aeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pwdCaptcha != null">
        pwd_captcha = #{pwdCaptcha,jdbcType=VARCHAR},
      </if>
      <if test="pwdAeadTime != null">
        pwd_aead_time = #{pwdAeadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginErrorCount != null">
        login_error_count = #{loginErrorCount,jdbcType=BIGINT},
      </if>
      <if test="userSaltVal != null">
        user_salt_val = #{userSaltVal,jdbcType=VARCHAR},
      </if>
      <if test="customerReferee != null">
        customer_referee = #{customerReferee,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=CHAR},
      </if>
      <if test="isUseTime != null">
        is_use_time = #{isUseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gow.beau.storage.auto.model.Customer">
    update gow_customer
    set customer_username = #{customerUsername,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      customer_password = #{customerPassword,jdbcType=VARCHAR},
      customer_nickname = #{customerNickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      customer_realname = #{customerRealname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      customer_img = #{customerImg,jdbcType=VARCHAR},
      captcha = #{captcha,jdbcType=VARCHAR},
      aead_time = #{aeadTime,jdbcType=TIMESTAMP},
      pwd_captcha = #{pwdCaptcha,jdbcType=VARCHAR},
      pwd_aead_time = #{pwdAeadTime,jdbcType=TIMESTAMP},
      login_error_count = #{loginErrorCount,jdbcType=BIGINT},
      user_salt_val = #{userSaltVal,jdbcType=VARCHAR},
      customer_referee = #{customerReferee,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      integral = #{integral,jdbcType=INTEGER},
      is_use = #{isUse,jdbcType=CHAR},
      is_use_time = #{isUseTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>