<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gow.beau.storage.ext.mapper.GoodsRecommendedExtMapper">
  <resultMap id="BaseResultMap" type="com.gow.beau.storage.auto.model.GoodsRecommended">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_captions" jdbcType="VARCHAR" property="titleCaptions" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="recommended_type" jdbcType="CHAR" property="recommendedType" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>

  <sql id="Base_Column_List">
    id, goods_id, title, title_captions, is_delete, create_time, recommended_type, level
  </sql>

  <select id="pageGoodsRecommendedList" resultMap="BaseResultMap">
    SELECT
      r.goods_id,
      title,
      title_captions
    FROM gow_goods_recommended AS r INNER JOIN gow_goods AS g ON r.goods_id = g.id
    AND r.is_delete = '0'
    AND g.is_delete = '0'
    ORDER BY level,r.create_time DESC
    LIMIT 3
  </select>

  <select id="selectInfoByRecommendedType" resultMap="BaseResultMap">
    select id,goods_id from gow_goods_recommended where is_delete = '0' and recommended_type = #{recommendedType} limit 1
  </select>

  <select id="selectMaxLevel" resultType="java.lang.Integer">
    select max(level) from gow_goods_recommended where is_delete = '0'
  </select>

  <delete id="deleteGoodsByGoodsId">
    delete from gow_goods_recommended where goods_id = #{goodsId}
  </delete>


  <select id="getGoodsRecommendedPage" resultType="com.gow.beau.model.rsp.goodsrecommended.GoodsRecommendedPageRsp">
      select
           r.id as goodsRecommendedId
          ,r.title as title
          ,r.title_captions as titleCaptions
          ,g.id as goodsId
          ,g.goods_name as goodsName
          ,g.goods_price as goodsPrice
          ,g.goods_img as goodsImg
          ,g.goods_spec as goodsSpec
          ,g.goods_number as goodsNumber
      from gow_goods_recommended r inner join gow_goods g on r.goods_id = g.id
      and r.is_delete = '0'
      and g.is_delete = '0'
      <if test="catId != null and catId !='' ">
        and g.category_id = #{catId}
      </if>
      <if test="goodsName != null and goodsName !='' ">
        and g.goods_name = #{goodsName}
      </if>
      order by r.create_time desc
      Limit #{startRowNum},#{endRowNum}
  </select>

  <select id="getGoodsRecommendedPageCount" resultType="java.lang.Integer">
    select
      count(0)
    from gow_goods_recommended r inner join gow_goods g on r.goods_id = g.id
    and r.is_delete = '0'
    and g.is_delete = '0'
    <if test="catId != null and catId !='' ">
      and g.category_id = #{catId}
    </if>
    <if test="goodsName != null and goodsName !='' ">
      and g.goods_name = #{goodsName}
    </if>
  </select>


  <select id="getDelGoodsRecommendedPage" resultType="com.gow.beau.model.rsp.goodsrecommended.GoodsRecommendedPageRsp">
    select
        id as goodsRecommendedId
        ,title as title
        ,title_captions as titleCaptions
        ,goods_id as goodsId
    from gow_goods_recommended
    where 1=1
    and is_delete = '0'
    order by create_time desc
  </select>

  <select id="getDelGoodsRecommendedPageCount" resultType="java.lang.Integer">
    select
        count(0)
    from gow_goods_recommended
    where 1=1
    and is_delete = '0'
  </select>

</mapper>