<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gow.beau.storage.ext.mapper.GoodsRecommendedExtMapper">
  <resultMap id="BaseResultMap" type="com.gow.beau.storage.auto.model.GoodsRecommended">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_captions" jdbcType="VARCHAR" property="titleCaptions" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="recommended_type" jdbcType="CHAR" property="recommendedType" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>

  <sql id="Base_Column_List">
    id, goods_id, title, title_captions, is_delete, create_time, recommended_type, level
  </sql>

  <select id="pageGoodsRecommendedList" resultMap="BaseResultMap">
    SELECT goods_id,title,title_captions FROM gow_goods_recommended WHERE is_delete = '0' order by level,create_time desc limit 3
  </select>

  <select id="selectInfoByRecommendedType" resultMap="BaseResultMap">
    select id,goods_id from gow_goods_recommended where is_delete = '0' and recommended_type = #{recommendedType} limit 1
  </select>

  <select id="selectMaxLevel" resultType="java.lang.Integer">
    select max(level) from gow_goods_recommended where is_delete = '0'
  </select>

</mapper>